body {
  font-family: sans-serif;
  background-color: #222222;
}
#title {
  text-align: center;
  color: white;
}
nav {
  text-align: center;
  margin: 0 auto 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
nav a {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #ddd;
  color: #555;
  cursor: pointer;
  padding: .3em;
  display: inline;
  font-size: 2em;
  text-decoration: none;
}
nav a:hover {
  background-color: #777;
  color: #ddd;
}
#nav-head {
  background-image: ;
}
img#profile {
  display: block;
  margin: 0 auto 0 auto;
}
img.fl {
  float: left;
  margin: .5em;
  margin: .2em 1em 1em 1em;
}
img.fr {
  float: right;
  margin: .5em;
  margin: .2em 1em 1em 1em;
}

div.left {
  float: left;
  background-color: lightgrey;
  padding: .2em 1em 1em 1em;
  width: 95%;
}
div.right {
  float: right;
  background-color: darkgrey;
  padding: .2em 1em 1em 1em;
  width: 95%;
}
.round-border {
  border: 1px dotted black;
  border-radius: 10px;
}
time {
  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
}